.btn, .back-button, .form-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ;
    margin: 10px 5px;
}
.btn:hover, .back-button:hover, .form-button:hover {
    background-color: #0056b3;
}
.back-button-map{
  display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ;
    margin: 10px 5px;
}